body{
    background-color: rgb(76, 79, 236);
    color: white;
    font-style: oblique 18pt arial;
    
}

header{
    text-align: center;
}

section{
    background-color: white;
    color: black;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);

}

footer{
    font-style: italic 18pt arial;
    text-align: center;
}

div{
    padding: 10px;
    margin: auto;
}

#pureLink{
    font-style: normal;
    color: white;
}

a#link1:visited {
    color: blue;
    font-weight: bold;
}

a#link1 {
    color: blue;
    font-weight: bold;
}
